/* ------------------------------LEVEL 1--------------------------------- */
#level-1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

/* ------------------------------LEVEL 2--------------------------------- */
#level-2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

#level-2 .peas {
    grid-column: 1 / 3;
}

/* ------------------------------LEVEL 3--------------------------------- */
#level-3 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

#level-3 .peas {
    grid-column: 1;
}

#level-3 .onions {
    grid-column: 2 /4;
}

#level-3 .tomatoes {
    grid-column: 1 /3;
}

#level-3 .carrots {
    grid-column: 1 / -1;
}

/* ------------------------------LEVEL 4--------------------------------- */


/* ------------------------------LEVEL 5--------------------------------- */


/* ------------------------------LEVEL 5--------------------------------- */

